<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.diaryproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".push.AlarmSetActivity"></activity>

        <receiver
            android:name=".push.DeviceBootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".push.AlarmReceiver" />

        <activity
            android:name=".Plan.PlanDeleteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/popupTheme" />
        <activity
            android:name=".Plan.PlanAddActivity"
            android:screenOrientation="portrait"
            android:theme="@style/popupTheme" />
        <activity
            android:name=".Plan.PlanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/popupTheme" />
        <activity android:name=".account.AddAccount" />
        <activity android:name=".account.ChartActivity" />
        <activity android:name=".account.CalenderActivity" />
        <activity
            android:name=".account.AccountMainActivity"
            android:label="@string/title_activity_account_main" />
        <activity android:name=".SelectMainActivity" />
        <activity android:name=".Diary.NoteActivity" />
        <activity android:name=".Diary.NoteSendActivity" />
        <activity android:name=".Diary.PostActivity" />
        <activity android:name=".Diary.WriteActivity" />
        <activity android:name=".sign.SignUpActivity" />
        <activity android:name=".Diary.MainActivity" />
        <activity android:name=".sign.SignInActivity" />
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>